body{
    background: rgb(250, 28, 28);
    font: normal 15pt Arial;
   
    }
    header{
    color: white;
    /*color: rgb(206, 194, 29);*/
    text-align: center;
    }
    section{ align-items: center;
        text-align: center;
    background: white;
    border-radius: 18px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
    }
  
    footer{
    color: white;
    text-align: center;
    font-style: italic;
    margin: 20px;
    }
    div{
        text-align: center;
        padding: 8px;
    }